blockquote {
  font-family: "Times New Roman", Times, serif;
  font-style: italic
}
h1.title {
  font-size: 41px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

#rbmvFooter {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  height: 25em;
}

#rbmvFooter.footer {
  background-color: #212121;  /* light black */
  padding: 4% 8%;
  margin-top: 7em;
  box-shadow: 0px 3px 50px 0px rgba(43,45,66,0.4);
  font-weight: 300;
  font-size: 13px;
  line-height: 25px;
}

#rbmvFooter .footer {
  color: #626262;  /* darker grey */
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 14px;
}

#scrollTop {
  color: #FFFFFF!important; /* white */
}
