img {
  width: 600px;
  display: block;
  margin: 0 auto;
}
body {
	background-image: url('blackboard.jpg'); 
	/*min-height: 500px;*/
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    background-position: right top;
    /* Set the background image to no repeat */
    /*background-repeat: no-repeat;*/
    /* Scale the background image to be as large as possible */
    /*background-size: cover;*/

    font-size: 17px;
    font-family: "Times New Roman", Times, serif;
    color: black;
}

h1.title {
  font-size: 41px;
  color: black;
  font-family: "Times New Roman", Times, serif;
}
.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957); }
  @media screen and (min-width: 64em) {
    .page-header {
      padding: 5rem 6rem; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
      padding: 3rem 4rem; } }
  @media screen and (max-width: 42em) {
    .page-header {
      padding: 2rem 1rem; } }

